<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

    <div class="box">
      
        <% newListItems.forEach((item)=> { %> 
          <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" class="check" name="checkbox" value=<%= item._id %> onChange="this.form.submit()">
          <p><%=  item.name  %></p>
        </div>
        <input type="hidden" name="listName" value=<%= listTitle %> >
      </form>
    <% }) %> 
        
      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off" required>
        <button type="submit" name="list" value=<%= listTitle %> ><span class="plusSign">+</span></button>
      </form>
  </div>
  <div class="instructions">
    <h3 class="instTextHeading">How to use:</h3>
    <p class="instText">You can also create your own Custom Lists by adding your own URL paramter.<br/>For eg: /work, /home, /office </p>
  </div>

<%- include("footer") -%>
